$primary   : #2F80ED; // azul robot
$secondary : #E5E7EB; // gris claro
$accent    : #56CCF2;

$dark      : #1F2937;
$positive  : #27AE60;
$negative  : #EB5757;
$info      : #2D9CDB;
$warning   : #F2C94C;
